.header-basic-light{
	padding: 10px 10px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 85px;
	background-color: #fff;
	
}

.header-basic-light .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic-light .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic-light-logo a img{
	display: block;
	margin: auto;
	float: left;
	vertical-align: middle;
}

.header-basic-light .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic-light .header-limiter a {
	color: #5c616a;
	text-decoration: none;
}

.header-basic-light .header-limiter nav{
	font:15px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
	vertical-align: middle;
	padding-right: 20px;
}

.header-basic-light .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	color: #5c616a;
	line-height:1;
}

.header-basic-light .header-limiter nav a.selected {
	/*background-color: #86a3d5;*/
	background-color: #00297b;
	color: #ffffff;
	border-radius: 3px;
	padding:6px 10px;
}

/* Making the header responsive. */

@media all and (max-width: 800px) {

	.header-basic-light {
		padding: 20px 0;
		height: 125px;
		width: 100%;
	}

	.header-basic-light .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		vertical-align: middle;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic-light .header-limiter nav {
		line-height: 1;
		float:none;
		vertical-align: middle;
		padding-right: 0px;
	}

	.header-basic-light .header-limiter nav a {
		font-size: 13px;
		vertical-align: middle;
	}

}

@media all and (max-width: 400px) {

	.header-basic-light {
		padding: 20px 0;
		height: 160px;
		width: 100%;
	}
/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}